<!DOCTYPE html>
%html
    %head
        %title= 'Flend'
        %link= stylesheet_link_tag    "application", :media => "all"
        %link= javascript_include_tag "application"
        =render 'layouts/shim'
        = yield :scripts
    %body
        =render 'layouts/header'       
        .container
            =yield
            =render 'layouts/footer'