<!DOCTYPE html>
%html
    %head
        %title= 'Flend'
        %link= stylesheet_link_tag    "application", :media => "all"
        %link= javascript_include_tag "application"
    %body
        %div#row
            %div.span2
                %h1= 'Menu'
            %div.span10
                =yield